@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
}

:root {

    
--White: hsl(0, 0%, 100%);
--Light-grayish-violet: hsl(270, 3%, 87%);
--Dark-grayish-violet: hsl(279, 6%, 55%);
--Very-dark-violet: hsl(278, 68%, 11%);
--Linear-gradient:hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
--Red: hsl(0, 100%, 66%);

}

body {
    height: calc(100vh - 0.1px);
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80%;
    text-transform: uppercase;
    font-size: 1rem;
}

.img-container {
    display: flex;
    align-items: center;
    z-index: 3;
}

#card-logo {
    position: absolute;
    left: -34%;
    top: -43%;
    z-index: 99;
}

#front-card {
    position: absolute;
    left: -36%;
    top: -52%;
    margin-bottom: 2.5rem;
    width: 23rem;
}

#back-card {
    position: absolute;
    top: 50%;
    left: -32%;
    width: 23rem;
}

form {
    padding-left: 8rem;
}

.card-form label {
    color: var(--Very-dark-violet);
}

.card-form input {
    padding: 0.385rem;
    margin: 0.5rem 0 0.5rem 0;
    width: 60%;
}

#sm-input1 {
    display: inline;
    width: 20%;

    
}

#sm-input2 {
    display: inline;
    width: 20%;
    
    
}

#cvc-input {
    display: inline;
    width: 30%;
}

#btn {
    background: var(--Very-dark-violet);
    color: var(--White);
    border: none;
    border-radius: 0.625rem;
    padding: 0.625rem;
    width: 60%;
}

.container-btm {
    display: flex;
}

#left-btm {
    width: 40%;
}

#right-btm {
    width: 50%;
}


.error {
    color: red;
    font-size: 0.625rem;
    margin: 0;
    padding: 0;
    text-transform: none;
}

#cname:invalid {
    border-color: red;
    border-radius: 0.625rem;
}

#cnumber:invalid {
    border-color: red;
    border-radius: 0.625rem;
    
}

#sm-input1:invalid {
    border-color: red;
    border-radius: 0.625rem;
}

#sm-input2:invalid {
    border-color: red;
    border-radius: 0.625rem;
}

#cvc-input:invalid {
    border-color: red;
    border-radius: 0.625rem;
}

#cnumber:valid {
    border-color: purple;
    border-radius: 0.625rem;
}

#cname:valid,
#sm-input1,
#sm-input2,
#cvc-input:valid {
    border-color: purple;
    border-radius: 0.625rem;
}

#cardNumberDisplay {
    position: absolute;
    top: 0;
    left: -32%;
    font-size: 1.125rem;
    color: white;
}

#cardHolderName {
    position: absolute;
    top: 4%;
    left: -32%;
    margin-top: 1.65rem;
    color: white;  
}

#expirationYearDisplay {
    position: absolute;
    top: 15%;
    left: -1%;
    padding-left: 2rem;
    color: white;
}

#securityDisplay {
    position: absolute;
    top: 86%;
    color: white;
}





@media (min-width: 1440px) {
    #front-card {
        left: -28%;
    }
    #back-card {
        left: -23%;
    }
    form {
        padding-left: 0;
    }
    #cardNumberDisplay {
            top: 0;
            left: -24%;
            font-size: 1.125rem;
            color: white;
        
    }
    #cardHolderName {
        left: -24%;
    }
    #securityDisplay {
        left: 7%;
    }
    #card-logo {
        left: -26%;
        top: -38%;
    }
    
}

